@media (max-width: 1470px) {

	//navigation
	.navigation {
		left: 1%;
		transform: translate(-1%, -50%);
	}

	.navigation__link {
		padding: 4px;
		font-size: 10px;
	}

	//header
	.menu {
		margin-right: 100px;
		margin-left: 25px;
	}

	.menu__link {
		margin: 0 30px;
	}

	//main
	.main__title {
		font-size: 40px;
	}

	.main__title-photo {
		font-size: 50px;
		bottom: -28px;
		right: -130px;
	}

	.main__title-food {
		font-size: 65px;
		top: -36px;
	}
}

@media (max-width: 1290px) {

	//navigation
	.navigation {
		display: none;
	}

	//header
	.header {
		&__inner {
			height: 50px;
		}
	}

	.logo__img {
		height: 50px;
	}

	.menu {
		margin-right: 70px;
		margin-left: 50px;

		&__link {
			margin: 0 18px;
			font-size: 16px;
		}

		&__link:first-child,
		&__link:last-child {
			margin: 0 18px;
		}
	}

	.phone__link {
		font-size: 16px;
	}

	//main
	.main__inner::before {
		right: -44%;
	}

	.main__img {
		right: 5%;
	}

	//about
	.about__wrapper {
		justify-content: center;
	}

	.about__info--hidden {
		display: none;
	}

	.about__info-tablet {
		display: flex;
		padding: 15px 5px 0 5px;
	}

	.about__info-box {
		flex-direction: column;
	}

	.about__inner {
		flex-direction: column;
	}

	.about__item {
		max-width: 320px;
	}

	.about__item-first {
		margin: -60px 15px 0 0;
	}

	.about__info-second {
		margin: 0 0 0 15px;
	}

	.about__contact:last-of-type {
		margin-bottom: 25px;
	}

	//services
	.img-first {
		max-width: 415px;
		max-height: 600px;
		width: 100%;
		height: 100%;
	}

	.img-second {
		max-width: 320px;
		max-height: 400px;
		width: 100%;
		height: 100%;
	}

	.img-third {
		max-width: 320px;
		max-height: 490px;
		width: 100%;
		height: 100%;
	}

	.item-first:after,
	.item-second:after,
	.item-third:after {
		content: none;
	}

	// .portfolio__inner {
	// 	max-height: none;
	// 	flex-direction: row;
	// }
}

@media (max-width: 1130px) {

	//portfolio
	.portfolio__title {
		margin-bottom: 70px;
	}

	.portfolio__inner {
		max-height: none;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}

	.portfolio__item {
		max-width: 100%;
		margin: 0 5px 40px 5px;
	}

	.portfolio__break {
		width: 100%;
	}

	.portfolio__item-up {
		margin: 0 5px 40px 5px;
	}

	.item__img-cheese,
	.item__img-sweet,
	.item__img-caviar,
	.item__img-seafood {
		max-width: 300px;
		max-height: 370px;
		width: 100%;
		height: inherit;
		object-fit: cover;
	}

	.portfolio__item-descr {
		max-width: 320px;
		width: 100%;
	}
}

@media (max-width: 870px) {

	// header
	.header__inner {
		justify-content: space-between;
	}

	.phone {
		margin-right: 10%;
	}

	.menu {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		background-color: #fff;
		padding-top: 8px;
		transform: translateY(-100%);
		transition: transform .5s ease-out;
		overflow: auto;
		margin: 0;
		justify-content: center;
		min-height: 780px;

		&.show {
			transform: translateY(0);
		}

		&__inner {
			flex-direction: column;
			position: relative;
		}

		&__inner:after,
		&__inner:before {
			position: absolute;
			content: '';
			background-repeat: no-repeat;
			width: 35px;
			height: 35px;
		}

		&__inner:after {
			background-image: url('../images/leaf-1.svg');
			top: -30%;
			right: -45%;
			transform: translate(45%, 30%) rotate(-30deg);
		}

		&__inner:before {
			background-image: url('../images/leaf-3.svg');
			bottom: -30%;
			left: -50%;
			transform: translate(50%, 30%) rotate(-5deg);
		}

		&__link,
		&__link:first-child,
		&__link:last-child {
			margin: 5px auto;
			font-size: 25px;
			@include s600;
			display: flex;
			justify-content: center;
			padding: 10px 10px 5px 10px;
			color: $black;
			border-bottom: 5px solid transparent;
		}

		&__link:focus,
		&__link:hover {
			border-bottom: 5px solid $green;
			width: auto;
			color: $black;
		}
	}

	.burger {
		display: block;
	}

	.burger .burger__mobile {
		margin-right: 0;
	}

	//main
	.main__title {
		font-size: 30px;
	}

	.main__title-photo {
		font-size: 35px;
		bottom: -18px;
		right: -20px;
	}

	.main__title-food {
		font-size: 50px;
		top: -26px;
		left: -20px;
	}

	.main__img {
		right: 8%;
	}

	//portfolio
	.portfolio__inner {
		margin-bottom: 95px;
	}

	.portfolio__more-inner {
		position: relative;
	}

	.portfolio__more-inner:after {
		content: '';
		position: absolute;
		background-color: #edeaea;
		width: 875px;
		height: 430px;
		top: -30%;
		right: -118%;
		z-index: -2;
	}

	.portfolio__more:before {
		content: none;
	}

	.portfolio__more-info:after {
		content: none;
	}

	.portfolio__more-info:before {
		opacity: .75;
		width: 315px;
		height: 310px;
		right: -10%;
		top: -5%;
		z-index: -1;
	}

	.portfolio__more-title,
	.portfolio__more-descr,
	.portfolio__more-link {
		color: #fff;
	}

	.portfolio__more-info {
		padding: 60px 0 0;
	}

	//services
	.services__inner {
		flex-wrap: wrap;
	}

	.services__img {
		max-width: 320px;
		max-height: 400px;
	}

	.item-first,
	.item-third {
		margin-top: 0;
	}

	//footer
	.footer__title {
		margin-bottom: 55px;
	}

	.footer__list {
		flex-direction: column;
		text-align: center;
	}

	.footer__item+.footer__item {
		margin-left: 0;
	}

	.footer__item {
		margin-bottom: 20px;
	}

	.footer__list {
		margin-bottom: 30px;
	}

}

@media (max-width: 765px) {

	.title {
		font-size: 30px;
	}

	.page-section {
		padding-bottom: 160px;
	}

	//main
	.main {
		padding-top: 40px;
		margin-bottom: 160px;
	}

	.main__inner {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.main__inner:before {
		content: none;
	}

	.main__info {
		margin-bottom: 25px;
		font-size: 17px;
	}

	.main__text {
		order: 1;
		text-align: center;
		margin-bottom: 15px;
	}

	.main__title {
		margin-bottom: 25px;
	}

	.main__img {
		right: 0;
		bottom: 0;
		margin: 55px 0;
	}

	.main__social {
		display: none;
	}

	//about
	.about:after,
	.about:before {
		content: none;
	}

	.about__wrapper:after,
	.about__wrapper:before {
		content: none;
	}

	.about__title {
		margin-bottom: 100px;
	}

	.about__item-first {
		margin: -30px 5px 0 0;
	}

	.about__item-second {
		margin: 0 0 0 5px;
	}

	.about__info-tablet {
		display: none;
	}

	.about__info-mobile {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.about__info {
		max-width: 450px;
		margin: 0 auto;
		padding: 20px 5px 5px 5px;
		font-size: 14px;
	}

	.link {
		font-size: 13px;
	}

	//portfolio
	.portfolio:after,
	.portfolio:before {
		content: none;
	}

	.portfolio__more:after {
		content: none;
	}

	.portfolio__more-title {
		font-size: 20px;
	}

	.portfolio__more-descr{
		font-size: 16px;
	}

	//services
	.services:after,
	.services:before {
		content: none;
	}

	.services__title {
		margin-bottom: 70px;
	}

	//footer
	.footer:before {
		content: none;
	}
}

@media (max-width: 575px) {

	//header
	.phone {
		display: none;
	}

	.burger {
		margin-right: 10px;
		transform: scaleX(-1);
	}

	.burger__mobile {
		top: -20%;
		right: -60%;
		transform: translate(60%, 20%);
	}

	.menu__link,
	.menu__link:first-child,
	.menu__link:last-child {
		display: block;
		font-size: 20px;
	}

	.menu__inner:after,
	.menu__inner:before {
		content: none;
	}

	//services
	.services__descr {
		font-size: 16px;
	}

	.services__name {
		font-size: 18px;
	}

	//portfolio
	.portfolio__item-name {
		font-size: 16px;
	}

	//footer
	.footer__item {
		font-size: 16px
	}
}