$gray: #f8f8f8;
$green: #8eb574;
$black: #212021;


@mixin l300 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@mixin m700 {
	font-family: 'MyriadPro', sans-serif;
	font-weight: 700;
}

@mixin s300 {
	font-family: 'SourceSerifPro', serif;
	font-weight: 300;
}

@mixin s400 {
	font-family: 'SourceSerifPro', serif;
	font-weight: 400;
}

@mixin s600 {
	font-family: 'SourceSerifPro', serif;
	font-weight: 600;
}

@mixin s700 {
	font-family: 'SourceSerifPro', serif;
	font-weight: 700;
}
